<!DOCTYPE html>
<html lang="ja"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/inquiry/form}">新規問い合わせ</a>
        </li>
        <li class="nav-item active" sec:authorize="isAuthenticated()">
          <a class="nav-link"  th:href="@{/inquiry/index}">問い合わせ一覧</a>
        </li>
      </ul>

      <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
        <li class="nav-item active"></li>
          <a class="nav-link" th:href="@{/login}">ログイン</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-default">ログアウト</button>
      </form>
  
    </div>
  </nav>
</div>
</html>