<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title th:text="${title}"></title>
</head>
<body>
  <div th:replace="~{layout/navi::navbar}"></div>
  <div class="container">
    <h3 th:text="${title}" class="mt-4"></h3>
    <p>(問い合わせは完了していません。送信を押すと問い合わせを完了します。)</p>
    <p>入力画面 -> <span class="badge badge-danger">確認画面</span></p>
    <div th:object="${inquiryForm}">
      <table class="table">
        <tr>
          <th>名前</th>
          <td th:text="*{name}"></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td th:text="*{email}"></td>
        </tr>
        <tr>
          <th>お問い合わせ内容</th>
          <td th:text="*{content}"></td>
        </tr>
      </table>

      <form method="POST" action="#" th:action="@{/inquiry/form}">
        <input type="hidden" name="name" th:value="*{name}">
        <input type="hidden" name="email" th:value="*{email}">
        <input type="hidden" name="content" th:value="*{content}">
        <button type="submit" class="btn btn-secondary">戻る</button>
      </form>

      <form method="POST" action="#" th:action="@{/inquiry/index}" class="mt-2">
        <input type="hidden" name="name" th:value="*{name}">
        <input type="hidden" name="email" th:value="*{email}">
        <input type="hidden" name="content" th:value="*{content}">
        <button type="submit" class="btn btn-primary">送信</button>
      </form>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>