<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
</head>
<body>
  <h3 th:text="${title}"></h3>
  <form method="POST" action="#" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
    <label>名前</label></br>
    <input type="text" name="name" th:value="*{name}"></br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label>メールアドレス</label></br>
    <input type="text" name="email" th:value="*{email}"></br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <label>お問い合わせ内容</label></br>
    <textarea name="content" rows="4" cols="20" th:field="*{content}"></textarea></br>
    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
    <input type="submit" value="確認画面へ">
  </form>
  <br>
  <a th:href="@{/inquiry/index}"><span>お問い合わせ一覧ページ</span></a>
</body>
</html>