<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
</head>
<body>
  <h3 th:text="${title}"></h3>
  <table>
    <tr>
      <th>名前</th><th>メールアドレス</th><th>内容</th>
    </tr>
    <tr th:each="inquiry : ${inquiryList}">
      <td th:text="${inquiry.name}"></td>
      <td th:text="${inquiry.email}"></td>
      <td th:text="${inquiry.content}"></td>
    </tr>
  </table>
  <br>
  <a th:href="@{/inquiry/form}"><span>新規問い合わせページ</span></a>
</body>
</html>