<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Document</title>
</head>
<body>
  <h3 th:text="${title}">お問い合わせ詳細ページ</h3>
  <table th:object="${inquiryRequest}">
    <tr>
      <th>ID</th>
      <td th:text="*{id}"></td>
    </tr>
    <tr>
      <th>名前</th>
      <td th:text="*{name}"></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td th:text="*{email}"></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td th:text="*{content}"></td>
    </tr>
  </table>
  <br>
  <form th:action="@{/inquiry/{id}(id=*{id})}" th:method="delete">
    <input type="submit" value="問い合わせを削除" />
  </form>
  </br>
  <a th:href="@{/inquiry/index}"><span>お問い合わせ一覧ページ</span></a>
</body>
</html>